
@media (max-width: 768px) {
  .topbar {
    width:100%;
    height: 30px; 
   }
  
  .logo-container {
    margin-left: 10px; 
  }

  .topbar-image {
    width: 20px; 
  }

  .logout-button a {
    padding: 5px 8px;
    font-size: 14px; 
  }

  .my_header {
    top: 60px; /* Adjust top position for mobile */
    height: 50px; /* Adjust height for mobile */
    padding: 5px 10px; /* Adjust padding for mobile */
    font-size: 14px; /* Adjust font size for mobile */
  }

  .sidebar {
    width: 60px; /* Adjust width for mobile */
    padding: 5px; /* Adjust padding for mobile */
  }

  #main {
    margin-left: 60px; /* Adjust margin for mobile */
  }

  .main-content {
    margin-left: 70px; /* Adjust margin for mobile */
    margin-top: 80px; /* Adjust margin for mobile */
  }
}


@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 20%; 
  }
}

.topbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: #184672;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.logo-container {
  display: flex;
  align-items: center;
}

.topbar-image {
  margin-right: 10px; /* Adjust margin as needed */
}


.logo {
  font-size: 18px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.logout-button a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 5px;
}

.logout-button a:hover {
  background-color: #fff;
  color: #202040;
}

.my_header {
  transition: margin-left .3s;
  position: fixed;
  top: 10%;
  left:200px;
  width: 100%;
  height:8%;
  padding: 8px 20px;
  z-index: 1000; 
  background-color: #aecfed;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #130e3b;
  
}



.sidebar {
  position: fixed;
  z-index: 500;
  left: 0;
  width: 200px;
  padding: 10px;
  top: 10%;
  height: 100%;
  max-height: 90%; 
  overflow-y: auto; 
  background-color: #0f2c48;
  transition: 0.3s;
  text-align: left;
  color: #fff;

}


/* Hide the scrollbar by default */
.sidebar::-webkit-scrollbar {
  width: 0;
}

/* Show the scrollbar on hover and style it */
.sidebar:hover::-webkit-scrollbar {
  width: 8px;
}

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: transparent; /* Make it transparent */
}

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Adjust the color and opacity as needed */
  border-radius: 4px;
}

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); /* Darker color on hover */
}


.sidebar .closebtn {
  position: absolute;
  top: 10;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}

#main {
  transition: margin-left .5s;
}

.sidebar button {
  text-align: left;
  font-size: 14px;
  border-radius: 10px;
  padding-left:10px;
}

.topbar-image {
  width: 28px; 
}

.sidebar-image {
  width: 100px; 
  margin-left: 20px; 
  margin-bottom: 3px;
}
  
.sidebar-label {
  margin-top: 10px; 
  font-size: 16px; 
  text-align: center;
  margin-bottom: 10px;
  color: white; 
  }

.text {
  text-align: center;
    font-size: 18px;
    margin-bottom: 25px;
}


button {
  display: block;
  width: 100%;
  padding: 15px 0px;
  margin-bottom: 10px;
  background-color: #0f2c48;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0b2135;
}

.main-content {
  padding:20px;
  margin-left:210px;
  margin-right: 20px;
  margin-top: 150px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e7ecf0;
  transition: margin-left .3s;
}

table td, table th {
  border: 1px solid lightgray;
  padding: 5px;
  text-align: center;
}

table th {
  background-color: lightgray;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  align-self: center;
}


.card-pair {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.card {
  flex-basis: calc(50% - 10px); /* Adjust as needed */
}

.login {
  margin-top: 200px;
  margin-right: 300px;
}

.fixed-width {
  width: 300px; /* adjust the width as needed */
}

.btn-width {
  width: 90px; /* adjust the width as needed */
}


.notification-container {
  position: relative;
  margin-left: auto;
}

.notification-container a {
  color:white;
}

.notification-container i {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.notification-container i:hover {
  color: #ccc;
}

.notification-container .notification-badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 0.25rem;
  border-radius: 50%;
}



.chart {
  width: 200px;
  height: 100px;
  background-color:#aecfed;
  color: #202040;
  margin-bottom: 10px;
  border-radius: 10px;
}