{% extends 'base.html' %}


{% block sidebar %}

<div class="sidebar bg-dark">
    <div class="container">
        <img src="./static/user-logo.png" alt="Image" height="auto" class="sidebar-image">
        <div class="text">User</div>
    </div>
    <button onclick="loadPage('p_dashboard.html', 'Dashboard', '/dashboard')">Dashboard</button>
    <button onclick="loadPage('p_profile.html', 'Profile', '/profile')">Profile</button>
    <button onclick="loadPage('p_viewdata.html', 'View Data', '/viewdata')">View Data</button>
    <button onclick="loadPage('p_appointment.html', 'Appointment', '/appointment')">Appointment</button>

</div>

<script src="./static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endblock %}