{% extends 'base.html' %}


{% block sidebar %}

<div class="sidebar">
    <div class="container">
        <img src="./static/user-logo.png" alt="Image" height="auto" class="sidebar-image">
        <div class="text">Admin</div>
    </div>
    <button onclick="loadPage('a_dashboard.html', 'Dashboard', '/dashboard')">Dashboard</button>
    <button onclick="loadPage('a_profile.html', 'Profile', '/profile')">Profile</button>
    <button onclick="loadPage('a_doctors.html', 'Doctors', '/doctors')">Doctors</button>
    <button onclick="loadPage('a_patients.html', 'Appointment', '/patients')">Patients</button>
    <button onclick="loadPage('a_users.html', 'Users', '/users')">Users</button>
    <button onclick="loadPage('a_appointment.html', 'Appointment', '/appointment')">Appointments</button>
</div>
css
<script src="./static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endblock %}