{% extends 'base.html' %}


{% block sidebar %}

<div class="sidebar">
    <div class="container">
        <img src="./static/user-logo.png" alt="Image" height="auto" class="sidebar-image">
        <div class="text">Doctor</div>
    </div>
    <button onclick="loadPage('d_dashboard.html', 'Dashboard', '/dashboard')">Dashboard</button>
    <button onclick="loadPage('d_appointment.html', 'Appointments', '/appointment')">Appointments</button>
    <button onclick="loadPage('d_profile.html', 'Profile', '/profile')">Profile</button>
    <button onclick="loadPage('d_patients.html', 'Patients', '/patients')">Patients</button>
    <button onclick="loadPage('suggestions.html', 'Suggestions', '/suggestions')">Suggestions</button>

</div>

<script src="./static/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


{% endblock %}