<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2aOtHXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./static/styles.css">

    <title>{% block title %}{% endblock %}</title>

    {% block additional_css %}
    <!-- Favicons -->
    <link href="./static/health.png" rel="icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="./static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="./static/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Medilab
  * Template URL: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
    {% endblock %}

    {% block styles %}
    {% endblock %}
</head>

<body>

    <div class="topbar">
        <div id="main">
            <button class="btn text-light mr-3" onclick="ToggleNav()">☰ </button>
        </div>
        <div class="logo-container ml-3">
            <img src="./static/health.png" alt="Image" height="auto" class="topbar-image">
            <div class="logo">Healthline Pro</div>
        </div>

        <div class="notification-container">
            <a id="notification-button" href="/notifications">
                <i class="fas fa-bell mr-1"> </i>
                <span class="notification-badge"></span>
            </a>
        </div>

        <div class="ml-4" style="font-size: 20px;">
            {{username}}
        </div>

        <div class="logout-button ml-5">
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div id="mySidebar" class="sidebar">
        <div class="container">
            <img src="./static/user-logo.png" alt="Image" height="auto" class="sidebar-image">
            <div class="mb-3 sidebar-label">{{username}} ({{role}}) </div>
        </div>


        {%if role == "patient"%}
        <button onclick="loadPage('p_dashboard.html', 'Dashboard', '/dashboard')">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </button>

        <button onclick="loadPage('p_profile.html', 'Profile', '/profile')">
            <i class="fas fa-user"></i>
            Profile
        </button>

        <button onclick="loadPage('p_health_records.html', 'p_health_records', '/health_records')">
            <i class="fas fa-file-alt"></i>
            Health Records
        </button>

        <button onclick="loadPage('p_doctors.html', 'Doctors', '/doctors')">
            <i class="fas fa-user-md"></i>
            Doctors
        </button>

        <button onclick="loadPage('p_viewappointments.html', 'View Appointments', '/viewappointments')">
            <i class="fas fa-calendar-check"></i>
            View Appointments
        </button>

        <button onclick="loadPage('p_appointment.html', 'Appointment', '/appointment')">
            <i class="fas fa-calendar-plus"></i>
            Request Appointment
        </button>

        <button onclick="loadPage('resources.html', 'Resources', '/resources')">
            <i class="fas fa-file-medical-alt"></i>
            Resources
        </button>

        <button onclick="loadPage('faq.html', 'FAQs', '/faq')">
            <i class="fas fa-question-circle"></i>
            FAQs
        </button>

        <button onclick="loadPage('chat.html', 'chat', '/chat')">
            <i class="fas fa-comments"></i>
            Chat
        </button>

        {%elif role == "doctor" %}
        <button onclick="loadPage('d_dashboard.html', 'Dashboard', '/dashboard')">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </button>

        <button onclick="loadPage('d_profile.html', 'Profile', '/profile')">
            <i class="fas fa-user"></i>
            Profile
        </button>

        <button onclick="loadPage('d_patients.html', 'Patients', '/patients')">
            <i class="fas fa-user-md"></i>
            Patients
        </button>

        <button onclick="loadPage('d_appointment.html', 'Appointment', '/appointment')">
            <i class="fas fa-calendar-plus"></i>
            Appointments
        </button>

        <button onclick="loadPage('suggestions.html', 'Suggestions', '/suggestions')">
            <i class="fas fa-file-medical-alt"></i>
            Suggestions
        </button>


        <button onclick="loadPage('chat.html', 'chat', '/chat')">
            <i class="fas fa-comments"></i>
            Chat
        </button>

        {%elif role == "admin" %}
        <button onclick="loadPage('a_dashboard.html', 'Dashboard', '/dashboard')">
            <i class="fas fa-tachometer-alt"></i>
            Dashboard
        </button>

        <button onclick="loadPage('a_profile.html', 'Profile', '/profile')">
            <i class="fas fa-user"></i>
            Profile
        </button>

        <button onclick="loadPage('a_doctors.html', 'Doctors', '/doctors')">
            <i class="fas fa-user-md"></i>
            Doctors
        </button>

        <button onclick="loadPage('a_patients.html', 'Patients', '/patients')">
            <i class="fas fa-user-md"></i>
            Patients
        </button>

        <button onclick="loadPage('a_users.html', 'Users', '/users')">
            <i class="fas fa-user"></i>
            Users
        </button>

        <button onclick="loadPage('a_appointment.html', 'Appointment', '/appointment')">
            <i class="fas fa-calendar-plus"></i>
            Appointments
        </button>

        {%endif%}
    </div>

    <div id="my_header" class="my_header">
        <h2>{%block header%}{% endblock %}</h2>
    </div>

    <div id="main-content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="./static/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>

    <script src="./static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="./static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./static/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./static/assets/vendor/php-email-form/validate.js"></script>
    <script src="./static/assets/js/main.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/locales-all.min.js"></script>

</body>

</html>