{% extends 'base_patient.html' %}

{% block title %} FAQs {% endblock %}

{% block header %} FAQs {% endblock %}

{% block content %}

<div class="main-content ">

    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p class="text-dark">
                    Find a wealth of information to help you manage your health and well-being. From tips on staying
                    active and eating healthy to advice on managing
                    chronic conditions, we've got you covered. We also offer a range of patient education materials,
                    including videos, and brochures, to help you better understand your health and treatment
                    options.
                </p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">How do I schedule an appointment with a doctor? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                To schedule an appointment with a doctor, simply click on the doctor's profile and
                                select the "Schedule Appointment" button. You will then be prompted to choose a date and
                                time that works for you. Once you've selected a time, you'll be taken to a confirmation
                                page where you can review your appointment details before submitting your request.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">Can I see all the doctors for appointment
                            purposes?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Yes, you can view a list of all the doctors who are available for appointments on the
                                Doctors page. You can browse through their profiles, read their bios, and see their
                                specialties to help you make an informed decision about which doctor to choose for your
                                appointment.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">How do I reschedule or cancel an appointment?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                To reschedule or cancel an appointment, you can contact the admin.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">What should I do if I have a medical
                            emergency? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                If you have a medical emergency, please call your local emergency number immediately. Do
                                not attempt to schedule an appointment online or through your patient account.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">How do I contact the support team for
                            assistance? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                If you have any questions or need assistance with scheduling an appointment, please
                                don't hesitate to contact our support team. You can reach us by email at
                                support@example.com or by phone at (123) 456-7890. We're here to help you every step of
                                the way.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

</div> {% endblock %}