{% extends 'base_patient.html' %}

{% block title %}
    View Data
{% endblock %}

{% block header %}
    View Data


{% endblock %}

  
{% block content %}
<div class="main-content">
  <h2>Your data summary goes here...</h2>
  

  <div class="container mt-4">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Age</th>
          <th>Education</th>
          <th>Job</th>
        </tr>
      </thead>
      <tbody id="data-table">
      </tbody>
    </table>
  </div>

  <h2>View Data</h2>
  <p>This is your dashboard content. You can display various widgets, charts, or summaries here.</p>
</div>

{% endblock %}