<!DOCTYPE html>
<html lang="en">

<head>
    <title>Register Healthline Pro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./static/login.css">
</head>

<body>

    <img src="./static/healthbg3.jpg" class="img-responsive login-image" alt="Image">

    <div class="container">
        <h1 class="logo">Healthline Pro</h1>
        <div class="register-wrapper">
            <section class="login-section">
                <form id="actionForm" action="/handle_register_patient" method="post">
                    <div class="form-group">
                        <input type="hidden" id="action" name="action" value="">
                        <h3>Register User</h3> <!-- Added heading "Register User" -->
                        <div class="row mb-3 mt-3">
                            <div class="col-md-6">
                                <label for="username">Username: *</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter Username"
                                    name="username" required>
                                <span class="required"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="email">Email: *</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter Email"
                                    name="email" required>
                                <span class="required"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="password">Password: *</label>
                                <input type="password" class="form-control" id="password" placeholder="Enter password"
                                    name="password" required>
                                <span class="required"></span>
                            </div>
                            <div class="col-md-6">
                                <label for="name">Name: *</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name"
                                    required>
                                <span class="required"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="age">Age: *</label>
                                <input type="number" class="form-control" id="age" placeholder="Enter Age" name="age"
                                    required>
                                <span class="required"></span>
                            </div>

                            <div class="col-md-6">
                                <label for="gender">Gender: *</label>
                                <select class="form-control" id="gender" name="gender" required>
                                    <option value="" disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                                <span class="required"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="contact">Contact: *</label>
                                <input type="text" class="form-control" id="contact" placeholder="Enter Contact"
                                    name="contact" required>
                            </div>
                        </div>

                        <div class="btn-container">
                            <button type="submit" class="btn btn-dark mr-4">Register</button>
                            <span class="login-text">Already have an account?</span> <!-- Wrapped text in a span -->
                            <a href="/login" class="btn btn-primary btn-register">Login</a>
                        </div>
                    </div>
                </form>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
                <script>
                    // Set a timer to hide the flash message after 3 seconds
                    setTimeout(function () {
                        $('#flash-message').fadeOut('fast');
                    }, 3000);
                </script>
                {% endif %}
                {% endwith %}
            </section>

        </div>
    </div>
    <script src src="./static/script.js"></script>

</body>

</html>