<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register Healthline Pro</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./static/login.css">
</head>

<body>

  <img src="./static/healthbg3.jpg" class="img-responsive login-image" alt="Image">

  <div class="container">
    <h1 class="logo">Healthline Pro</h1>
    <div class="register-wrapper">
      <section class="login-section">

        <h5>Register as:</h5>
        <div class="btn-container">
          <a href="/register_patient" class="btn btn-dark mr-3">Patient</a>
          <a href="/register_doctor" class="btn btn-dark mr-3">Doctor</a>
          <span class="login-text">Already have an account?</span>
          <a href="/login" class="btn btn-primary btn-register">Login</a>
        </div>

      </section>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-center">Healthline Pro - Your trusted healthcare web application for managing appointments, patient
        records, and more.
        <br>
        <small>&copy; 2024 Healthline Pro. All rights reserved.</small>
      </p>
    </div>
  </footer>


</body>

</html>